span.select2
{
    width: 100%  !important;
}
.text-sm {
    font-size: 20px  !important;
    font-family: "Kanit",sans-serif !important;
}
.MuiSvgIcon-root {
    fill: currentColor;
    width: 1.5em !important;
    height: 1.5em  !important;
    display: inline-block;
    font-size: 2.5rem !important;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;
}

p {
    margin: 0 0 10px;
    margin-top: 3px  !important;
    margin-left: 5px  !important ;
    font-size: 20px !important;
}

.img-circle {
    border-radius: 0.5% !important;
    width: 50px;
    height: 60px;
}


// .input-group .form-control {
//     position: relative;
//     z-index: 2;
//     float: left;
//     width: 100%;
//     margin-bottom: 0;
//     border-radius: 5 !important;
// }
// .input-group {
//     position: relative;
//     display: table;
//     border-collapse: separate;
//     width: 50%;
//     border-radius: 5 !important;
// }
body {
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
    font: 12pt "Tahoma";
}
// * {
//     box-sizing: border-box;
//     -moz-box-sizing: border-box;
// }
.page {
    width: 21cm;
    min-height: 29.7cm;
    padding: 1cm;
    margin: 1cm auto;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
// .subpage {
//     padding: 1cm;
//     border: 5px red solid;
//     height: 256mm;
//     outline: 2cm #FFEAEA solid;
// }

@page {
    size: A4;
    margin: 0;
}
@media print {
    .page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }
}

////////flile set
.field{
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border-width: 2px;
    border-style: groove;
    border-color: aliceblue;
    border-image: initial;
    width: 58%;


}
.leg{
    display: inline-block;
    padding-inline-start: 2px;
    padding-inline-end: 2px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    position: relative;
    top: -20px;
    background: #fff;
}


//////bef
// p::before {
//     content: "(";
//   }
// p::after {
//     content: ")";
//   }